@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Medium";
    src:local("Inter-Medium")
    , url("../public/font/Inter-Medium.ttf") format("truetype");
}
body{
    @apply font-custom overflow-y-hidden;
    background-color: #EEEEEE;   
    scrollbar-width: thin;
    scrollbar-color: #b9b9b9 #c1c1c1d7;
}

  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #2e2e2ed7;
  }
  ::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 20px;
    border: 3px solid #2e2e2ed7;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #727272;
  }
  